<div
  class="mx-auto my-1 grid max-w-[90vw] grid-cols-[100px_100px_100px_100px] grid-rows-[50px] gap-1 min-[0px]:max-[220px]:grid-cols-[40px_40px_40px_40px] min-[220px]:max-[320px]:grid-cols-[50px_50px_50px_50px] min-[320px]:max-[450px]:grid-cols-[70px_70px_70px_70px] md:w-[50vw] md:grid-cols-[1fr_1fr_1fr_1fr]"
>
  <div class="flex flex-row items-center justify-center font-bold uppercase">
    @if (isLoading$ | async) {
      <app-loader class="button__cell centered" />
    } @else {
      <button
        class="font__grow button__cell"
        (click)="onClick(element().position)"
      >
        {{ element().position }}
      </button>
    }
  </div>
  <div class="flex flex-row items-center justify-center font-bold uppercase">
    @if (isLoading$ | async) {
      <app-loader class="button__cell centered" />
    } @else {
      <button class="font__grow button__cell" (click)="onClick(element().name)">
        {{ element().name }}
      </button>
    }
  </div>
  <div class="flex flex-row items-center justify-center font-bold uppercase">
    @if (isLoading$ | async) {
      <app-loader class="button__cell centered" />
    } @else {
      <button
        class="font__grow button__cell"
        (click)="onClick(element().weight)"
      >
        {{ element().weight }}
      </button>
    }
  </div>
  <div class="flex flex-row items-center justify-center font-bold uppercase">
    @if (isLoading$ | async) {
      <app-loader class="button__cell centered" />
    } @else {
      <button
        class="font__grow button__cell"
        (click)="onClick(element().symbol)"
      >
        {{ element().symbol }}
      </button>
    }
  </div>
</div>
