<<<<<<< HEAD
.filter {
  /* width: 25vw;
  margin-left: 1rem;
  position: sticky;
  top: 50vh; */
  width: 90vw;
  min-height: max-content;
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid var(--color-purple);
  background-color: var(--color-pink);
  color: var(--color-purple-dark);
  font-size: 1.5rem;
}
.filter__current {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--color-purple-dark);
=======
>>>>>>> addingNGRX

